$primary-color: hsl(345, 95%, 68%);
$secondary-color: hsl(237, 18%, 59%);
$text-color: #fff;

@mixin mobile {
  @media (max-width: 450px) {
    @content;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: hsl(235, 16%, 14%);
  background-image: url("../images/bg-stars.svg"),
    url("../images/pattern-hills.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100%;
  height: 100%;
  font-family: "Red Hat Text", sans-serif;
}

.wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.container {
  padding: 1rem;
  margin: 0 auto;
  max-width: 1440px;

  // @include mobile {
  //   max-width: 100%;
  // }
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  @include mobile {
    margin-top: 8rem;
  }

  &__title {
    color: $text-color;
    text-transform: uppercase;
    letter-spacing: 0.7rem;
    margin-bottom: 6rem;
    @include mobile {
      margin-bottom: 3rem;
      font-size: 1.2rem;
      text-align: center;
      line-height: 1.5;
    }
  }

  &__control {
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;
    @include mobile {
      justify-content: space-evenly;
      column-gap: 1rem;
    }

    &--element {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;

      @include mobile {
        gap: 1rem;
      }

      .number {
        width: 11rem;
        height: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: hsl(236, 21%, 26%);
        border-radius: 0.5rem;
        font-size: 6rem;
        font-weight: 700;
        color: $primary-color;
        position: relative;
        overflow: hidden;
        @include mobile {
          width: 5rem;
          height: 5rem;
          font-size: 2.5rem;
          border-radius: 0.2rem;
        }
        &::before {
          position: absolute;
          content: "";
          height: 1rem;
          width: 1rem;
          border-radius: 50%;
          background-color: hsl(234, 17%, 12%);
          transform: translate(-50%, -50%);
          top: 50%;
          left: 0;
          @include mobile {
            height: 0.5rem;
            width: 0.5rem;
          }
        }

        &::after {
          position: absolute;
          content: "";
          height: 1rem;
          width: 1rem;
          background-color: hsl(234, 17%, 12%);
          border-radius: 50%;
          transform: translate(50%, -50%);
          top: 50%;
          right: 0;
          @include mobile {
            height: 0.5rem;
            width: 0.5rem;
          }
        }

        &__top-overlay {
          position: absolute;
          top: 0;
          height: 50%;
          width: 100%;
          background-color: hsla(236, 21%, 26%, 0.3);
          border-bottom: 1px solid hsla(236, 21%, 26%, 0.37);
        }
      }

      .counter-label {
        color: hsl(237, 18%, 59%);
        font-weight: 600;
        letter-spacing: 0.5rem;
        text-transform: uppercase;
        font-size: 1rem;
        @include mobile {
          font-size: 0.5rem;
          font-weight: 700;
          letter-spacing: 0.3rem;
        }
      }
    }
  }
}

.social {
  display: flex;
  gap: 2rem;
  padding-bottom: 2rem;
  justify-content: center;
  align-items: center;

  &__icon {
    transition: 0.3s all;
    fill: hsl(237, 18%, 59%);

    &:hover {
      cursor: pointer;
      fill: $primary-color;
    }
  }
}
